@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/market.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/Adminstyles.css" />
    <link rel="stylesheet" href="~/css/header-menu-button.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="content">
        <!-- header -->
        <div class="header">
            <a asp-area="" asp-controller="Home" asp-action="Index">

                <img src="~/market.png"
                     id="header-link-img"
                     alt="market" />

                <p style="font-family: Roboto; font-weight:bold; color:black;">TStore</p>
            </a>

            <!-- header-menu -->
            <div id="header-menu">
                <!-- categories -->
                <a>
                    <p>@DateOnly.FromDateTime(DateTime.Now)</p>
                </a>

                <!-- Users -->
                <a class="header-menu-button" id="header-menu-button-users">
                    <p>Users</p>
                </a> 
            </div>

            <div id="UserIdentity">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Hello, @User.Identity.Name</p>
                    <a class="header-menu-button"
                       id="header-menu-button-logout"
                       asp-area="" asp-controller="Account" asp-action="Logout">
                        <p>Logout</p>
                    </a>
                }
            </div>
        </div>

        <!-- page content -->
        <div id="page-content">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
