@model List<TStore.Category>

@{
    ViewData["Title"] = "Categories";
}

<link rel="stylesheet" href="~/css/categories.css" />

@foreach (var categoryChunk in Model.Chunk(5))
{
    <div class="category-row">
        @foreach (var category in categoryChunk)
        {
            <a class="category-col" asp-action="Products" asp-route-name="@category.Name">
                <img src="@category.Image" alt="@category.Name" loading="lazy" />
                <p>@category.Name</p>
                <div class="count">@category.Products.Count() Products</div>
            </a>
        }
    </div>
}